<footer>
    <div class="info-contatto">
      <p><strong>Edilizia XYZ</strong></p>
      <p>Via Roma, 123 - 00100 Roma</p>
      <p>Tel: 06 1234567 | Email: </p>
    </div>
    <div class="link-utili">
      <ul>
        <li><a routerLink="/chi-siamo">Chi Siamo</a></li>
        <li><a routerLink="/privacy">Privacy</a></li>
        <li><a routerLink="/termini">Termini & Condizioni</a></li>
      </ul>
    </div>
    <div class="social">
      <a href="https://facebook.com/" target="_blank">Facebook</a>
      <a href="https://instagram.com/" target="_blank">Instagram</a>
    </div>
    <div class="copyright">
      <p>&copy; {{ currentYear }} Edilizia XYZ. Tutti i diritti riservati.</p>
    </div>
  </footer>